* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.visual {
    height: 200px;
    width: 100%;
}
#img1 {
    background-image: url(img/box1.jpg);
}
#img2 {
    background-image: url(img/box2.jpg);
}
#img3 {
    background-image: url(img/box3.jpg);
}
#img4 {
    background-image: url(img/box4.jpg);
}