* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 20px;
    width: 100%;
    display: flex;
    background-color: purple;
    justify-content: flex-end;
}


.header-flex {
    flex-basis: 140px;
    height: 70px;
    background-color: pink;
    margin: 0 10px;
}
.header-flex:first-child {
    margin-right: auto;
}
main {
    display: flex;
    justify-content: center;
}
.flex-1 {
    background-color: lightgreen;
    width: 300px;
}

.flex-2 {
    display: flex;
    background-color: green;
    max-width: 700px;
    padding: 20px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;

}
.flex-item {
    background-color: yellow;
    flex-basis: 200px;
    height: 130px;
    margin: 10px;
}
footer {
    width: 100%;
    display: flex;
    background-color: blue;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-flex {
    flex-basis: 45%;
    max-width: 600px;
    background-color: lightblue;
    height: 40px;
    margin: 10px;
}