* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.list-content {
    padding: 50px 0;
    width: 960px;
    margin: 0 auto;
    list-style: none;
}
.list {
    padding: 20px 0 20px 20px;
}
.list:nth-child(even) {
    background-color: #f7f7f7;
}

.color {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 10px;

}
.color-box {
    height: 200px;
    width: 30%;
    background-color: yellow;
    margin-right: 5%;
    margin-bottom: 40px;
}
.color-box:nth-child(3) {
    margin: 0;
}
.color-box:nth-child(6) {
    margin: 0;
}
.color-box:nth-child(1) {
    background-color: orange;
}
.color-box:nth-child(5) {
    background-color: orange;
}
.color-box:nth-child(9) {
    background-color: orange;
    margin: 0;
}