*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 50px;
    background-color: red;
}

.main-visual {
    width: 100%;
    height: 500px;
    background-color: orange;
}
.main {
    width: 960px;
    background-color:limegreen;
   margin: 0 auto;
}
.main-content {
    width: 500px;
    height: 1400px;
    padding: 0 230px;
    background-color: greenyellow;
    margin: 0 auto;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: blue;
}
