*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 20px 0;
}
.header-nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.nav-list-item {
    display: inline-block;
    margin: 0 auto;
    padding: 15px 20px;
}

.color-content{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    padding: 50px 0;
    margin: 0 auto;
}
.color{
    width: 200px;
    height: 200px;
}
#color-1 {
    background-color: #e6ffe9;
}
#color-2 {
    background-color: #cbffd3;
}
#color-3 {
    background-color: #aeffbd;
}
#color-4 {
    background-color: #93ffab;
}
#color-5 {
    background-color: #f3ffd8;
}
#color-6 {
    background-color: #edffbe;
}
#color-7 {
    background-color: #e9ffa5;
}
#color-8 {
    background-color: #e4ff8d;
}
#color-9 {
    background-color: #d9e5ff;
}
#color-10 {
    background-color: #bad3ff;
}
#color-11 {
    background-color: #a4c6ff;
}
#color-12 {
    background-color: #8eb8ff;
}

footer {
    background-color: gray;
    height: 120px;
    width: 100%;
    text-align: center;
    line-height: 120px;
}
.footer-text {
    color: #fff;
}